*.DS_store*

*.__pycache__*

*.Rhistory*
*.ipynb_checkpoints*

data/raw/bene.csv
data/raw/homecredit.csv
data/raw/uk.csv

data/prepared/bene_*
data/prepared/german_*
data/prepared/gmsc_*
data/prepared/homecredit_*
data/prepared/pkdd_*
data/prepared/taiwan_*
data/prepared/uk_*

results/intermediate/IMAGE_*
